/* index.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f9d423, #ff4e50); /* Gradient background */
  }
  
  /* Navigation bar */
  nav {
    background-color: rgba(51, 51, 51, 0.8); /* Dark background with transparency */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .active {
    font-weight: bold;
  }
  
  /* Main content container */
  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Left section with description */
  .left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Light background with transparency */
    padding: 0px;
    height: 100%;
  }
  
  .site-description {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .site-description h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    text-align: left;
    margin-left: 15px;
    margin-top: -200px;
  }
  
  .site-description p {
    font-size: 32px;
    line-height: 1.5;
    margin-top: 30px;
    text-align: justify;
    margin-left: 15px;
  }
  
  .site-description a {
    display: inline-block;
    margin: 0 10px;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
  }
  
  .site-description a:hover {
    background-color: #e7e7e7;
  }
  
  /* Right section with image */
  .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Light background with transparency */
    height: 100%;
    color: #fff;
    padding: 0px;
  }
  
  .right-section img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 650px;
  }
  
  /* Logo */
  nav img.logo {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 5px 10px 0px 0px; /* Adjust spacing as needed */
  }
  
  /* Animation */
  .fadeIn {
    animation: fadeIn 1s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  