/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  /* background: url('/path/to/your/background-image.jpg') no-repeat center center fixed; */
  background-size: cover;
  color: white;
}

/* Container styles */
.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.5); */
}

/* Main content styles */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Left section styles */
.left-section {
  max-width: 600px;
  width: 50vw;
}
.right-section{
  height: 100vh;
  width: 75vh;
  background-size: cover;
}

.right-section img{
  height: 100%;
  width: 100%;
}

/* Heading styles */
h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f39c12;
}

/* Paragraph styles */
p {
  font-size: 1.2em;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* Button styles */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.btn {
  background: #e74c3c;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.1em;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #37ea52;
  color: black;
}
